# OS files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/

# DBeaver
.dbeaver/
DebugIt/

# Env / secrets
.env
*.pgpass

# Logs
*.log

# Python / Flask
venv/
env/
__pycache__/
*.pyc
*.pyo
instance/
.pytest_cache/
*.egg-info/
